/.idea
.DS_Store
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.sublime-workspace
spec/examples.txt
spec/easemob_logo_download.png
spec/easemob_logo_thumbnail.png
.byebug_history